# .gitignore

# Environment & Secrets
.venv/
.env

# Data, Models & Experiment Artifacts
data/
data.zip
models/
mlruns/
mlartifacts/ # Added based on your status
cache/       # Added based on your status

# Python Caches
__pycache__/
*.pyc

# IDE & OS Specific
.vscode/
.idea/
.DS_Store

# Temporary Files
directory_tree.txt